/*=====================================
  NAVBAR STYLES
    ===================================*/


#menu {
    background-color:#4bb777;

}

/*=====================================
  HEADERS STYLES
    ===================================*/


.header-sec .overlay{
    background:rgba(8, 134, 74, 0.90);
}

  /*=====================================
  TESTIMONIALS STYLES
    ===================================*/

.testi-sec .overlay{
    background:rgba(8, 134, 74, 0.80);
}


/*=====================================
  PRICING STYLES
    ===================================*/

.single-price {
    background-color:rgba(8, 134, 74,1);
}
.multi-price {
    background-color:#4bb777;
}
/*=====================================
  FOOTER STYLES
    ===================================*/

 .myfooter {
    background-color:#4bb777;
}